<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsDesktopIconManagerForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsDesktopIconManagerForm.Properties.Settings>
            <setting name="autoApplyWallpaper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="applyDefaultWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultWallpaper" serializeAs="String">
                <value />
            </setting>
            <setting name="autoApplyArrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRestartExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableLightDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultToDark" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsDesktopIconManagerForm.Properties.Settings>
    </userSettings>
</configuration>